@font-face {
    font-family: 'Roboto';
    src: url(./font/Roboto-Medium.ttf);
    font-weight: normal;
    font-style: normal;
}

* {
    font-family: Roboto;
    color: #fff;
}

body {
    background-color: #262626;
    padding-left: 30px;
}

.navigationPanel {
    position: fixed;
    width: 750px;
    height: 150px;
    background-color: #313131;
    z-index: 1;
    display: flex;
    border-radius: 50px;
    margin-top: 2170px;
    margin-left: 140px;
}

.textHeading
{
    font-size: 60px;
    margin-bottom: -10px;
    margin-top: 60px;
}

.blockNew {
    overflow-x: scroll;
    margin-top: 30px;
    height: 800px;
    display: flex;
}

.blockFilm {
    height: 800px;
    width: fit-content;
    margin-right: 40px;
}

.imgBlockFilm {
    height: 700px;
    border-radius: 30px;
}

.textBlockFilm {
    font-size: 40px;
    margin-top: 7px;
}

.space {
    height: 200px;
}