@font-face {
    font-family: 'Roboto';
    src: url(./font/Roboto-Medium.ttf);
    font-weight: normal;
    font-style: normal;
}

* {
    font-family: Roboto;
    color: #fff;
}

body {
    background-color: #262626;
    padding-left: 7px;
    margin-top: 25px;
}

.navigationPanel {
    position: fixed;
    width: 300px;
    height: 60px;
    background-color: #313131;
    z-index: 1;
    display: flex;
    border-radius: 20PX;
    margin-top: 750px;
    margin-left: 30px;
}

.textHeading
{
    font-size: 21px;
    margin-bottom: -10px;
    margin-top: 15px;
}

.blockNew {
    overflow-x: scroll;
    margin-top: 20px;
    height: 300px;
    display: flex;
}

.blockFilm {
    height: 300px;
    width: fit-content;
    margin-right: 15px;
}

.imgBlockFilm {
    height: 250px;
    border-radius: 5%;
}

.textBlockFilm {
    font-size: 16px;
    margin-top: 7px;
}

.space {
    height: 70px;
}