.coverProject {
    display: block;
}

.backgroundImgProgect {
    width: 390px;
    margin-top: -25px;
    margin-left: -8px;
}

.btnBack {
    height: 40px;
    width: 40px;
    margin-left: 10px;
    text-decoration: none;
    z-index: 1;
}

.imgBtnBack {
    height: 40px;
    width: 40px;
    border-radius: 25%;
    background-color: #3a3a3a;
    text-decoration: none;
    z-index: 1;
}

.mainImgProgect {
    height: 250px;
    border-radius: 5%;
    z-index: 1;
    position: absolute;
    margin-top: 20px;
    margin-left: 55px;
}